SECRET_KEY=django-insecure-k(i0iy7a&-73r+_m^h3axto+%4wez_vlzy4#ah51$0=u&h5au9
DEBUG=True
ALLOWED_HOSTS=*
DATABASE_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GEMINI_API_KEY=
