django>=5.0,<5.1
djangorestframework>=3.15,<3.16
djangorestframework-simplejwt>=5.3,<5.4
django-cors-headers>=4.3,<4.4
dj-database-url>=2.1,<2.2
psycopg2-binary>=2.9,<3.0
cloudinary>=1.38,<1.39
google-generativeai>=0.3,<0.5
python-dotenv>=1.0,<1.1
drf-spectacular>=0.27,<0.28
pillow>=10.2.0,<10.3.0
gunicorn>=21.2.0,<22.0.0
